<div class="container flex flex-col gap-8 mx-auto px-4 py-8  bg-white bg-opacity-80 shadow-md rounded-md">
    
    <div class=" m-5 py-1 pl-2 border-b-2 border-b-maincolor font-Inika text-2xl w-48 ">Shopping Cart</div>

	{{#if cart_result}}
		{{#each cart_result}}
		<div class="flex flex-col bg-tertiary p-5 mx-5">
			<div class="flex flex-row">
				<div class="w-60 mx-10">
					<img src="./uploads/temp.png"  class=" w-full">
					<h2 class="text-xl font-semibold mt-2 text-center">{{this.product.name}}</h2>
				</div>
				<div class="bg-dirty-white mx-10 w-full grid grid-cols-4 gap-4">
							<div class="m-auto"> {{product.name}}</div>
							<div class="m-auto"> P{{this.product.price}}</div>
							<div class="m-auto"> {{this.quantity}}</div>
							<div class="m-auto"> <a href="/remove-from-cart?id={{this.product._id}}&quantity={{this.quantity}}&uid={{this.uniqueID}}"> <u>Remove</u> </a> </div>
				</div>
			</div>
			<div class=" bg-maincolor w-32 py-3 text-center ml-auto mr-10 text-white" fun="row-price">
				P{{multiply this.product.price this.quantity }}
			</div>
		</div>
		{{/each}}
	{{else}}
		<p>Add things to your cart!</p>
	{{/if}}
    <button class=" bg-maincolor w-80 py-5 text-white mx-auto" id="submit" type="submit">Checkout   INSERTtotal</button>
</div>
