<script>
document.addEventListener('DOMContentLoaded', function() {
    const dropdownButton = document.querySelectorAll('#dropdownButton');
    const dropdownMenu = document.getElementById('dropdownMenu');

    dropdownButton.forEach(button => {
  		button.addEventListener('click', (e) => {
    		const buttonIndex = Array.from(dropdownButton).indexOf(button);
    		const dropdownMenus = document.querySelectorAll('#dropdownMenu');

    		if (dropdownMenus && dropdownMenus.length > buttonIndex) {
      			const dropdownMenu = dropdownMenus[buttonIndex];
      			dropdownMenu.classList.toggle('hidden');
    		}
  		});
	});

    // Close the dropdown when clicking outside of it
    document.addEventListener('click', function(event) {
        if (!dropdownContainer.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
});

function selectOption(option) {
    const dropdownMenu = document.getElementById('dropdownMenu');
    const selectedOption = document.getElementById('selectedOption');

    dropdownMenu.classList.add('hidden');

	dropdownButton.textContent = option;
}
</script>


<div class=" bg-white bg-opacity-80 p-1 rounded-md  w-[98%] mx-auto my-auto" style="box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(0, 0, 0, 0.1);">
	<div class="mx-10 my-5 py-0 pl-2 border-b-4 border-b-maincolor font-Inika text-2xl w-48 ">All Orders</div>
	<script type = "text/javascript" src="/js/sort_orders.js" defer></script>
	
	{{#unless buffer }}
		{{> sort_orders}}
	{{/unless}}
	{{> orders_bar}}

	
	<div class="bg-white bg-opacity-80 py-2  px-1 rounded-md w-[95%] mx-auto my-auto shadow-md">
	{{#each order_list}}
		<div class="grid grid-cols-9 bg-tertiary w-full h-[45px] flex flex-wrap items-center justify-start rounded-[10px] mb-2 px-1 hover:bg-white hover:border border-maincolor">
			<button class="col-span-5 flex flex-wrap" id="orderInstance" data-index={{this.orderID}}>
				<div class="grid grid-cols-5 w-full flex flex-wrap items-center justify-center">
					<div class="px-1 text-secondary text-m text-center border border-t-0 border-b-0 border-maincolor truncate" >{{this.orderID}}</div> 
					<div class="px-1 text-secondary text-m text-center border border-l-0 border-t-0 border-b-0 border-maincolor truncate">{{this.firstName}}</div>
					<div class="px-1 text-secondary text-m text-center border border-l-0 border-t-0 border-b-0 border-maincolor truncate">{{this.lastName}}</div>
					<div class="px-1 text-secondary text-m text-center border border-l-0 border-t-0 border-b-0 border-maincolor truncate">{{this.email}}</div>
 	   				<div class="px-1 text-secondary text-m text-center border border-l-0 border-t-0 border-b-0 border-maincolor">{{this.date}}</div>
				</div>
			</button>

			
			<div class="relative mx-auto ">

    			<button id="dropdownButton" class="px-1 rounded-lg bg-white px-2 py-2 mx-[4px] text-secondary text-m text-center shadow-sm ring-1 ring-inset ring-gray-300">
    			    {{this.status}}
    			</button>
    			<ul id="dropdownMenu" class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" data-index={{this.orderID}}>
    			    <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200" id="AP" onclick="selectOption('awaitingPayment')">Awaiting Payment</a></li>
    			    <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200" id="PS" onclick="selectOption('succeeded')">Payment Succesfull</a></li>
    			    <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200" id="OP" onclick="selectOption('orderPacked')">Order Packed</a></li>
					<li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200" id="IT" onclick="selectOption('inTransit')">In Transit</a></li>
   			    <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200" id= "D" onclick="selectOption('delivered')">Delivered</a></li>
    			</ul>
			</div>

			<div id="selectedOption" class="hidden bg-white border border-gray-300 mx-2 py-1 w-32"></div>
			<button class="col-span-2 flex flex-wrap" id="orderInstance" data-index={{this.orderID}}>
				<div class="grid grid-cols-2 w-full flex flex-wrap items-center justify-center">
					<div class="px-1 text-secondary text-m text-center border border-t-0 border-b-0 border-maincolor truncate">&#8369; {{this.amount}}</div>
 	   				<div class="px-1 text-secondary text-m text-center border border-l-0 border-t-0 border-b-0 border-maincolor truncate">{{this.paymongoID}}</div>
				</div>

			</button>
 	   		

			<div class="col-span-1 flex flex-wrap">
				{{#if (eq this.isCancelled "false")}}
					<button class="mx-auto border border-maincolor text-maincolor hover:bg-maincolor hover:text-white hover:border-white px-4 rounded-lg mx-[4px] h-[35px] text-center" id="cancel" data-index={{this.orderID}}>
    					Cancel
					</button>
				{{else}}
					<button class="mx-auto border border-maincolor text-maincolor hover:bg-maincolor hover:text-white hover:border-white px-4 rounded-lg mx-[4px] h-[35px] text-center" id="cancel" data-index={{this.orderID}} disabled>
    					Order Cancelled
					</button>
				{{/if}}				
			</div>

			

	</div>
	{{/each}}

</div>
