<div class="flex flex-col items-center mb-20">

    <div class="font-Inika text-4xl w-7x1 h-auto mt-7 text-center =">{{user.firstName}} {{user.lastName}}</div>
    <div class="font-Inika text-4xl text-white bg-maincolor w-2/6 mx-auto rounded-lg p-5 mt-7 h-14 flex items-center justify-center ">
        {{user.firstName}}{{user.lastName}}
    </div>
    <div class="font-Inika text-4xl text-white bg-maincolor w-2/6 mx-auto rounded-lg p-5 mt-7 h-14 flex items-center justify-center ">
        Email: {{user.email}}
    </div>
    <div class="font-Inika text-4xl text-white bg-maincolor w-2/6 mx-auto rounded-lg p-5 mt-7 h-14 flex items-center justify-center ">
        Gender: Female
    </div>
    <div class="font-Inika text-4xl text-white bg-maincolor w-2/6 mx-auto rounded-lg p-5 mt-7 h-14 flex items-center justify-center ">
        Phone Number: 09081989130   
    </div>

    <div class="font-Inika text-4xl text-white w-2/6 mx-auto rounded-lg  mt-7 h-14 flex flex-row gap-x-20 items-center justify-center ">
        <a href="#" class="bg-secondary py-2 px-3 w-full rounded-lg flex items-center justify-center">
            Edit Profile
        </a>
        <a href="/userpurchases/allProducts" class="bg-secondary py-2 px-3 w-full rounded-lg flex items-center justify-center">
            My Purchases
        </a>
    </div>

</div>