<div class="flex flex-col items-center mb-20">

    <div class="font-Inika text-4xl text-white bg-maincolor w-2/6 mx-auto rounded-lg p-5 mt-3 h-14 flex items-center justify-center ">
        {{user.firstName}} {{user.lastName}}
    </div>
    <div class="font-Inika text-4xl text-white bg-maincolor w-2/6 mx-auto rounded-lg p-5 mt-3 h-14 flex items-center justify-center ">
        Email: {{user.email}}
    </div>

        <div class="flex flex-col font-Inika text-4xl text-white bg-maincolor w-2/6 mx-auto rounded-lg p-2 mt-3 flex items-center justify-center ">
            <div class=" mb-1">Address Details</div>

			<div class=" flex flex-row items-start">
        		<div class="text-lg mr-2">State:</div>
        		<div class="pr-5 text-lg text-center">{{user.state}}</div>
    		</div>

			<div class=" flex flex-row items-start">
        		<div class="text-lg mr-2">City:</div>
        		<div class="pr-5 text-lg text-center">{{user.city}}</div>
    		</div>

			<div class=" flex flex-row items-start">
        		<div class="text-lg mr-2">Postal Code:</div>
        		<div class="pr-5 text-lg text-center">{{user.postalCode}}</div>
    		</div>

			<div class=" flex flex-row items-start">
        		<div class="text-lg mr-2">Address 1:</div>
        		<div class="pr-5 text-lg text-center">{{user.line1}}</div>
    		</div>

			<div class=" flex flex-row items-start">
        		<div class="text-lg mr-2">Address 2:</div>
        		<div class="pr-5 text-lg text-center">{{user.line2}}</div>
    		</div>
			
        </div>


</div>