<style>
	.text-style {
		font: Lato;
	}
</style>


<div class="max-w-full h-auto py-10 mx-5 bg-white bg-opacity-80 p-5 shadow-md rounded-md flex flex-col text-center">

	<div class=" m-5 py-1 pl-2 border-b-2 border-b-maincolor font-Inika text-2xl w-48 ">Shopping Cart</div>


	<div class="bg-secondary grid grid-flow-col p-2 mx-5 rounded-md mb-3 text-white font-Lato text-xl">
		<div></div>
		<div>Product</div>
		<div>Price</div>
		<div>Quantity</div>
		<div></div>
	</div>

	{{#if cart_result}}
	{{#each cart_result}}




	<div class="flex flex-col bg-tertiary p-2 mx-5 rounded-md mb-5">



		<div class="grid grid-cols-5 gap-2 h-[300px]">


			<div class="flex flex-wrap my-auto justify-center">
				<a href="/product?name={{this.product.name}}&id={{this.product._id}}">
					<img class="w-auto max-h-[300px] mx-auto my-auto" src={{this.product.productpic}}>
				</a>
			</div>

			<div class="col-span-4 ">
				<div class="bg-dirty-white h-[60px] w-full mt-[70px] mb-[50px] rounded-md font-Inknut text-lg">
					<div class="grid grid-cols-4 gap-4 h-full">
						<div
							class="flex items-center justify-center h-[80%] my-auto w-full border border-l-0 border-t-0 border-b-0 border-secondary">
							<a href="/product?name={{this.product.name}}&id={{this.product._id}}">
								{{this.product.name}}
							</a>
						</div>
						<div
							class="flex items-center justify-center h-[80%] my-auto w-full border border-l-0 border-t-0 border-b-0 border-secondary">
							&#8369; {{this.product.price}}
						</div>
						<div
							class="flex items-center justify-center h-[80%] my-auto w-full border border-l-0 border-t-0 border-b-0 border-secondary">
							{{this.quantity}}
						</div>
						<div class="flex items-center justify-center w-full ">
							<div class="flex items-center justify-center w-full h-[80%]">
								<a href="/remove-from-cart?id={{this.product._id}}&quantity={{this.quantity}}&uid={{this.uniqueID}}"
									class="flex items-center justify-center border border-maincolor text-maincolor hover:bg-maincolor hover:text-white hover:border-white px-4 rounded-lg mx-[4px] h-[35px]">
									Remove
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="bg-maincolor w-32 py-3 text-center ml-auto mr-10 mt-10 text-white rounded-md"
					fun="row-price">
					&#8369; {{multiply this.product.price this.quantity }}
				</div>
			</div>
		</div>


	</div>
	{{/each}}
	{{else}}
	<p>Add things to your cart!</p>
	{{/if}}


	<div class="mt-5 flex items-center justify-center">
		<button
			class=" bg-secondary text-white text-2xl font-Lato py-2 px-3 rounded-lg  border border-secondary hover:bg-white hover:text-secondary hover:border"
			id="submit" type="submit">Checkout ₱{{total}}</button>

	</div>

</div>